In [17]:
from datetime import datetime

In [18]:
The_Moscow_Times = 'Wednesday, October 2, 2002'
The_Guardian = 'Friday, 11.10.13'
Daily_News = 'Thursday, 18 August 1977'

In [19]:
date_time_1 = datetime.strptime(The_Moscow_Times, '%A, %B %d, %Y')
date_time_1

datetime.datetime(2002, 10, 2, 0, 0)

In [20]:
date_time_2 = datetime.strptime(The_Guardian, '%A, %m.%d.%y')
date_time_2

datetime.datetime(2013, 11, 10, 0, 0)

In [21]:
date_time_3 = datetime.strptime(Daily_News, '%A, %d %B %Y')
date_time_3

datetime.datetime(1977, 8, 18, 0, 0)

In [22]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

def stream_date(list_stream):
    for date in list_stream:
        try:
            valid_date = datetime.strptime(date, '%Y-%m-%d')
            print(True)    
        except ValueError:
            print(False)
stream_date(stream)

True
False
False

In [27]:
from datetime import timedelta

In [44]:
start_date=input('Введите начальную дату в формате YYYY-MM-DD: ')
end_date=input('Введите дату окончания в формате YYYY-MM-DD: ')
def date_range():
    start_dt=datetime.strptime(start_date,'%Y-%m-%d')
    end_dt=datetime.strptime(end_date,'%Y-%m-%d')
    days=[]
    while start_dt<=end_dt:
        print_datetime=datetime.strftime(start_dt,'%Y-%m-%d')
        days.append(print_datetime)
        start_dt+=timedelta(days=1)
    return(days)
date_range()

Введите начальную дату в формате YYYY-MM-DD: 2018-01-02
Введите дату окончания в формате YYYY-MM-DD: 2018-01-07

['2018-01-02',
 '2018-01-03',
 '2018-01-04',
 '2018-01-05',
 '2018-01-06',
 '2018-01-07']