In [1]:
import pandas as pd

# Задание 1

In [2]:
ratings = pd.read_csv('C:\\Users\\Пользователь\\Desktop\\важно\\ml-latest-small\\ml-latest-small\\ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [60]:
movies = pd.read_csv('C:\\Users\\Пользователь\\Desktop\\важно\\ml-latest-small\\ml-latest-small\\movies.csv')
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [61]:
joined = ratings.merge(movies, on='movieId', how='left')
joined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100836 entries, 0 to 100835
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
 4   title      100836 non-null  object
 5   genres     100836 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 5.4+ MB

In [50]:
a = joined[['title', 'rating']]
b = a[a.rating == 5.0]
b.head(10)

                                        title  rating
3                 Seven (a.k.a. Se7en) (1995)     5.0
4                  Usual Suspects, The (1995)     5.0
6                        Bottle Rocket (1996)     5.0
8                              Rob Roy (1995)     5.0
9                       Canadian Bacon (1995)     5.0
10                           Desperado (1995)     5.0
11                       Billy Madison (1995)     5.0
13     Dumb & Dumber (Dumb and Dumber) (1994)     5.0
15  Star Wars: Episode IV - A New Hope (1977)     5.0
18                           Tommy Boy (1995)     5.0

In [56]:
b['title'].value_counts().head(1)

Shawshank Redemption, The (1994)    153
Name: title, dtype: int64

# Задание 2

In [52]:
power = pd.read_csv('C:\\Users\\Пользователь\\Desktop\\важно\\10._Основы_pandas\\power.csv')

In [53]:
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [57]:
power.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   country   1189482 non-null  object
 1   year      1189482 non-null  int64
 2   quantity  1189482 non-null  float64
 3   category  1189482 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

In [79]:
da = power[power.category.isin ([4, 12, 21])]
db = da[da.country.isin (['Latvia', 'Lithuania', 'Estonia'])]
dc=db[(db['year']>=2005)&(db['year']<=2010)&(db['quantity']>0)]

dc.quantity.sum()

240580.0

# Задание 3

In [82]:
money = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding ='utf-8')

for i in money:
    print(i)
    print(type(i))

     0       1      2        3       4      5        6       7      8   \
0  ММВБ   3 652  -0,8%   Nasdaq  13 389  -0,1%  Биткойн  57 117   0,6%
1   РТС   1 553  -1,6%   S&P500   4 152  -0,9%    Нефть     685  -0,2%
2   Dow  34 269  -1,4%  FTSE100   6 948  -2,5%   Золото   1 827  -0,5%

        9       10     11
0  USD/RUB  742402   0,1%
1  EUR/RUB  901400   0,1%
2  EUR/USD   12124  -0,2%
<class 'pandas.core.frame.DataFrame'>
    Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
0          NaN            GBP/RUB      1049062      -              1049209
1          NaN            EUR/RUB       900115      -               900933
2          NaN            USD/RUB       743030      -               741896
3          NaN            JPY/RUB        06811      -                06830
4          NaN            CNY/RUB       115335      -               115381
5          NaN            CHF/RUB       820464      -               821308
6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
7          NaN            EUR/USD        12116      -                12151
8          NaN            EUR/GBP        08582      -                08591
9          NaN            EUR/JPY      1322170      -              1319600
10         NaN            EUR/CHF        10970      -                10981
11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
12         NaN            USD/EUR        08254      -                08231
13         NaN            USD/GBP        07084      -                07070
14         NaN            USD/JPY      1091250      -              1086190
15         NaN            USD/CHF        09058      -                09034
16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
17         NaN    JPY/EUR (100:1)        07600      -                07600
18         NaN            JPY/GBP        00065      -                00065
19         NaN            JPY/USD        00092      -                00092
20         NaN    JPY/CHF (100:1)        08300      -                08300
21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
22         NaN            GBP/USD        14115      -                14141
23         NaN            GBP/JPY      1540790      -              1536279
24         NaN            GBP/EUR        11651      -                11641
25         NaN            GBP/CHF        12786      -                12772
26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
27         NaN            GBP/CHF        12786      -                12772
28         NaN            EUR/CHF        10970      -                10981
29         NaN    JPY/CHF (100:1)        08300      -                08300
30         NaN            USD/CHF        09058      -                09034
31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
32         NaN            EUR/UAH       334876      -               335146
33         NaN            USD/UAH       276403      -               275852
34         NaN            CHF/UAH       305147      -               305416
35         NaN            GBP/UAH       390170      -               390165

          %  Абсолютное значение     Время
0   -0,01 %               -00147  15:44:00
1   -0,09 %               -00818  15:44:00
2    0,15 %                01134  15:44:00
3   -0,28 %               -00019  15:44:00
4   -0,04 %               -00046  15:43:00
5   -0,10 %               -00844  15:44:00
6         %  Абсолютное значение     Время
7   -0,28 %               -00035  15:44:00
8   -0,10 %               -00009  15:44:00
9    0,19 %                02570  15:44:00
10  -0,10 %               -00011  15:44:00
11        %  Абсолютное значение     Время
12   0,28 %                00023  15:44:00
13   0,20 %                00014  15:44:00
14   0,47 %                05060  15:44:00
15   0,26 %                00024  15:44:00
16        %  Абсолютное значение     Время
17  -0,20 %                00000  15:44:00
18  -0,28 %                00000  15:44:00
19  -0,48 %                00000  15:44:00
20  -0,16 %                00000  15:44:00
21        %  Абсолютное значение     Время
22  -0,19 %               -00027  15:44:00
23   0,29 %                04511  15:44:00
24   0,09 %                00010  15:44:00
25   0,11 %                00014  15:44:00
26        %  Абсолютное значение     Время
27   0,11 %                00014  15:44:00
28  -0,10 %               -00011  15:44:00
29  -0,16 %                00000  15:44:00
30   0,26 %                00024  15:44:00
31        %  Абсолютное значение     Время
32  -0,08 %               -00271  15:44:00
33   0,20 %                00551  15:43:00
34  -0,09 %               -00269  15:43:00
35   0,00 %                00005  15:44:00
<class 'pandas.core.frame.DataFrame'>
                                                   0  \
0                                      Имя и фамилия
1                                            Телефон
2                                                NaN
3  Я даю согласие на обработку своих персональных...

                                                   1  \
0                                              Город
1                                              Email
2                                                NaN
3  Я даю согласие на обработку своих персональных...

                                                   2  \
0                                                NaN
1                                                NaN
2  Спасибо! Ваша заявка отправлена Финансовый кон...
3                                                NaN

                                                   3  \
0                                                NaN
1                                                NaN
2  Спасибо! Ваша заявка отправлена Финансовый кон...
3                                                NaN

                                                   4  \
0                                                NaN
1                                                NaN
2  ошибка: не удалось создать заявку в журнале за...
3                                                NaN

                                                   5                       6  \
0                                                NaN                     NaN
1                                                NaN                     NaN
2  ошибка: не удалось создать заявку в журнале за...  ошибка: не POST-запрос
3                                                NaN                     NaN

                        7                                                  8  \
0                     NaN                                                NaN
1                     NaN                                                NaN
2  ошибка: не POST-запрос  Просим Вас согласиться на передачу и обработку...
3                     NaN                                                NaN

                                                   9
0                                                NaN
1                                                NaN
2  Просим Вас согласиться на передачу и обработку...
3                                                NaN
<class 'pandas.core.frame.DataFrame'>