In [1]:
import pandas as pd

# 1 Задание

In [2]:
movies = pd.read_csv('C:\\Users\\Пользователь\\Desktop\\важно\\ml-latest-small\\ml-latest-small\\movies.csv')
ratings = pd.read_csv('C:\\Users\\Пользователь\\Desktop\\важно\\ml-latest-small\\ml-latest-small\\ratings.csv')

In [3]:
joined = ratings.merge(movies, on='movieId', how='left')

In [4]:
def ratings_class(rating):
    if rating <= 2:
        return 'низкий рейтинг'
    if rating <= 4:
        return 'средний рейтинг'
    if rating == 4.5 or rating == 5.0:
        return 'высокий рейтинг'

In [5]:
joined['class'] = joined['rating'].apply(ratings_class)

In [6]:
joined.head()

,userId,movieId,rating,timestamp,title,genres,class
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,средний рейтинг
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance,средний рейтинг
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller,средний рейтинг
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,высокий рейтинг
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,высокий рейтинг

# 2 Задание

In [19]:
geo = pd.read_csv('C:\\Users\\Пользователь\\Desktop\\важно\\keywords.csv')
geo.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [20]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [23]:
def geo_df(query: str, regions: dict) -> str:
    for k, v in regions.items():
        if any(city in query for city in v):
            return k

    return 'undefined'


geo['region'] = geo.keyword.apply(geo_df, regions=geo_data)

In [24]:
geo['region'].value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64